################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/code/FileContentIndex
/.vs/slnx.sqlite
/.vs/code/v17/.wsuo
/.vs/VSWorkspaceState.json
